

.index_bg01 {
	BACKGROUND: url(../images/banner_bg01.gif) repeat-x 0px 0px
}
.index_bg02 {
	BACKGROUND: url(../images/banner_bg02.gif) repeat-x 0px 0px
}
.index_bg03 {
	BACKGROUND: url(../images/banner_bg03.gif) repeat-x 0px 0px
}
.index_bg04 {
	BACKGROUND: url(../images/banner_bg04.gif) repeat-x 0px 0px
}
.index_bg05 {
	BACKGROUND: url(../images/banner_bg05.gif) repeat-x 0px 0px
}
#warp {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 320px; PADDING-TOP: 0px;clear:both;
}
.banner {
	 MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 320px; _width: 980px; clear:both; overflow:hidden;
}
.banner_l {
	MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: left
}
.banner_r {
	MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: right
}
.bannerImg {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH:980px; height:320px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px; overflow:hidden; 
}
.bannerImg .bannerPage {
	POSITION: absolute; TOP: 210px; LEFT: 420px
}
.bannerImg .bannerPage A {
	MARGIN-RIGHT: 4px
}
.bannerImg .bannerPage A IMG {
	VERTICAL-ALIGN: middle
}
.slides_container {
	POSITION: relative; WIDTH: 980px; height:320px; OVERFLOW: hidden;
}
.pagination {
	MARGIN: 85px auto 0px
}
.pagination LI {
	MARGIN: 0px 1px; FLOAT: left
}
.pagination LI A {
	BACKGROUND-IMAGE: url(../images/pagination.png); WIDTH: 15px; DISPLAY: block; BACKGROUND-POSITION: 0px -1px; FLOAT: left; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 12px
}
.pagination LI.current A {
	BACKGROUND-POSITION: 0px -18px
}

